@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground: #ddd;
   --background-start: #222;
   --background-end: #222;
   --background-color: #222;
   --text-color: #ddd;
   --text-color-2: #dddddd88;
   --bg-nav: #161616;
   --bg-light: #424242;
   --bg-dark: #333;
   --red-1: #f22613;
   --red: #ff4f68;
   --darkRed: #7f1d1d;
   --green: #32c87d;
   --orange-1: #f29513;
   --orange: #f8b068;
   --darkBlue: #0468BF;
   --darkBlue2: #023A6B99;
   --lightBlue: #0dcaf0;
   --yellow: #eab107;
   --white: #fff;
   --black: #000;
   --table-size-text: 14px;
   --pestanaHover: #1f96ff1a;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground: #ddd;
      --background-start: #222;
      --background-end: #222;
      --background-color: #222;
      --bg-nav: #161616;
      --text-color: #ddd;
      --text-color-2: #bbb;
      --bg-light: #424242;
      --bg-dark: #333;
      --contrario: #f2f2f2;
      --pestanaDark: #838383;
      --pestanaLight: #555555e6;
   }
}

@media (prefers-color-scheme: light) {
   :root {
      --foreground: #222;
      --background-start: #ddd;
      --background-end: #ddd;
      --background-color: #ddd;
      --bg-nav: #eee;
      --text-color: #222;
      --text-color-2: #33333388;
      --bg-light: #fff;
      --bg-dark: #bbb;
      --contrario: #262626;
      --pestanaDark: #262626e6;
      --pestanaLight: #838383;
   }
}

body {
   color: var(--foreground);
   background: linear-gradient(to bottom,
         transparent,
         var(--background-end)) var(--background-start);
   padding-left: 4rem;
}

/* ---------------- HIGHCHARTS CONFIG ---------------- */
.highcharts-background {
   fill: var(--bg-light);
}

.highcharts-container text {
   fill: var(--text-color) !important;
}

.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
   fill-opacity: 0.7;
}

.highcharts-title {
   text-transform: capitalize;
}

.highcharts-axis-line,
.highcharts-grid-line {
   stroke: var(--text-color);
   stroke-opacity: 0.2;
}

.highcharts-tooltip-box {
   fill: var(--background-color);
}

.highcharts-column-series rect.highcharts-point {
   stroke: var(--background-color);
}

/* ----------------------------------------------- */

#scrollDiv::-webkit-scrollbar {
   width: 7px;
}

#scrollDiv::-webkit-scrollbar-track {
   border-radius: 10px;
}

#scrollDiv::-webkit-scrollbar-thumb {
   background: var(--foreground);
   border-radius: 5px;
}

.rdt_TableCol_Sortable>div {
   white-space: pre-wrap;
}

#tabla_contratos>div>div {
   display: block !important;
}

/* LOADING */

.pl {
   display: block;
   width: 6.25em;
   height: 6.25em;
}

.pl__ring,
.pl__ball {
   animation: ring 2s ease-out infinite;
}

.pl__ball {
   animation-name: ball;
}


/* Animation */
@keyframes ring {
   from {
      stroke-dasharray: 0 257 0 0 1 0 0 258;
   }

   25% {
      stroke-dasharray: 0 0 0 0 257 0 258 0;
   }

   50%,
   to {
      stroke-dasharray: 0 0 0 0 0 515 0 0;
   }
}

@keyframes ball {

   from,
   50% {
      animation-timing-function: ease-in;
      stroke-dashoffset: 1;
   }

   64% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -109;
   }

   78% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -145;
   }

   92% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -157;
   }

   57%,
   71%,
   85%,
   99%,
   to {
      animation-timing-function: ease-out;
      stroke-dashoffset: -163;
   }
}